@font-face {
    font-family: "acumin";
    src: url("./fonts/Acumin-Variable-Concept.ttf");
}

@font-face {
    font-family: "acuminUltraBlack";
    src: url("./fonts/Acumin-Pro-UltraBlack.ttf");
}

@font-face {
    font-family: "acuminThing";
    src: url("./fonts/Acumin-Pro-Thin.ttf");
}

@font-face {
    font-family: "acuminCondThin";
    src: url("./fonts/Acumin-Pro-Cond-Thin.woff.ttf");
}

iframe {
    display: none !important;
}

html * {
    font-family: acumin, sans-serif;
    overflow-x: hidden;
}

header {
    background: url("./img/fondo01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    padding: 0% 0 10% 0;
    width: 100%;
    height: auto;
    min-height: 300px;
}

header .sectionIcons1 input {
    border-top: 3px black solid;
    padding-top: 10px;
}

header .sectionIcons1 h4 {
    font-family: acuminCondThin !important;
    font-size: 18px;
    font-weight: 400;
}

header .sectionIcons1 .iconHome {
    width: 90px;
}

header h1 {
    font-family: acuminUltraBlack !important;
    font-size: 60px;
    font-weight: 900;
    overflow: hidden;
    transform: scaleY(1.4);
    -ms-transform: scaleY(1.4);
    /* IE */
    -moz-transform: scaleY(1.4);
    /* Firefox */
    -webkit-transform: scaleY(1.4);
    /* Safari and Chrome */
    -o-transform: scaleY(1.4);
    /* Opera */
}

header h4 {
    overflow: hidden;
    font-family: acumin !important;
    font-size: 30px;
    font-weight: 400;
    max-width: 450px;
}

header .sectionIcons2 {
    margin-top: 10%;
}

header .sectionIcons2 input {
    border-left: 3px white solid;
    padding-left: 5px;
}

/* .insideSection {
    margin-top: 470%;
    margin-left: -15%;
    overflow: hidden;
} */


/* SEGUNDA SECCION */

.secondSection {
    background: url("./img/fondo02.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    /* padding: 0% 0 10% 0; */
    width: 100%;
    height: auto;
    min-height: 300px;
}

.secondSection .firstTitle {
    font-family: acuminUltraBlack !important;
    transform: scaleY(1.4);
    -ms-transform: scaleY(1.4);
    /* IE */
    -moz-transform: scaleY(1.4);
    /* Firefox */
    -webkit-transform: scaleY(1.4);
    /* Safari and Chrome */
    -o-transform: scaleY(1.4);
    /* Opera */
    font-weight: 900;
    text-decoration: underline;
    overflow: hidden;
}

.secondSection h4 {
    color: white;
    font-size: 60px;
}

/* TORO SECTION */

.toroSection {
    background: url("./img/fondo06.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: contain;
    padding: 0% 5% 0% 5%;
    width: 100%;
    /* height: 100%; */
    min-height: 300px;
    /* position: absolute; */
    /* color: transparent */
}

/* TERCERA SECCION */

.thirdSection {
    background: url("./img/fondo03.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
    /* padding: 0% 0 10% 0; */
    width: 100%;
    height: auto;
    min-height: 300px;
    z-index: 1;
    /* margin-top: -5%; */
    -moz-box-shadow: 0px 3px 8px rgb(100, 100, 100);
    -webkit-box-shadow: 0px 3px 8px rgb(100, 100, 100);
    box-shadow: 0px 3px 8px rgb(100, 100, 100);
    /* margin-top: 5%; */
}

/* #ajustMargin {
    margin-left: -10px;
} */

.thirdSection .fondoBox {
    overflow: hidden;
    -webkit-filter: drop-shadow(0px 5px 10px gray);
    filter: drop-shadow(0px 5px 10px gray);
}

/* FONDO BURBUJA DE COLORES */

img#bubleImg {
    min-height: 200px;
    left: 0%;
}

.insideSection .textInsideSection {
    text-align: center;
    margin-top: 7%;
    margin-left: 4%;
}

.insideSection .textInsideSection .firsTitleInside {
    font-family: acuminUltraBlack !important;
    transform: scaleY(1.4);
    -ms-transform: scaleY(1.4);
    /* IE */
    -moz-transform: scaleY(1.4);
    /* Firefox */
    -webkit-transform: scaleY(1.4);
    /* Safari and Chrome */
    -o-transform: scaleY(1.4);
    /* Opera */
    font-weight: 900;
    text-decoration: underline;
    overflow: hidden;
    text-decoration: underline;
    overflow: hidden;
    font-size: 60px;
}

.insideSection .textInsideSection h4 {
    font-family: acumin !important;
    font-size: 50px;
}

.fithSection {
    margin-top: 12%;
}

.sectionFooter {
    z-index: 100000000;
    object-fit: contain;
    margin-top: 12%;
}


/* RESPONSIVE */

@media (min-width: 375px) {

    /* PRIMERA SECCION */

    .sectionHeader .sectionHeaderContent {
        flex-direction: column !important;
        overflow: hidden;
        /* margin-left: -5px; */
    }

    .sectionHeader .sectionHeaderContent h1 {
        text-align: center;
        margin: 10px 0 10px 0;
        font-size: 48px;
    }

    .sectionHeader h4 {
        margin-left: 20px;
        max-width: 280px;
        font-size: 22px;
    }

    .sectionIcons2 {
        z-index: 100000;
    }

    /* SEGUNDA SECCION */

    .secondSectionTitles {
        padding: 25% 7% 25% 7%;
        text-align: center;
    }

    .secondSection .secondSectionTitles h4 {
        font-size: 35px;
    }

    /* TERCERA SECCION */

    .thirdSectionBoxes {
        display: flex;
        flex-direction: column;
    }

    .thirdSectionBoxes .fondoBox {
        width: 300px !important;
        margin-bottom: 10px;
        margin: 25px;
    }

    .thirdSection .thidSectionTitles {
        position: absolute;
        top: 45%;
        left: 13%;
        color: #606060;
    }

    .thirdSection .thidSectionTitles h4 {
        font-size: 22px;
        width: 270px;
    }

    .thirdSection .absoluteImg {
        top: 13%;
        left: 35%;
    }

    .thirdSection .absoluteImg2 {
        top: 11%;
        left: 42%;
    }

    .thirdSection .absoluteImg3 {
        top: 11%;
        left: 39%;
    }

    .thirdSection .thidSectionTitles .firstTitleThird {
        font-size: 35px;
        text-decoration: underline;
        font-weight: 900;
    }

    /* QUINTA SECCION */

    /* .insideSection {
        margin-top: 470%;
        margin-left: -15%;
        overflow: hidden;
    } */

    .insideSection .textInsideSection .firsTitleInside {
        font-size: 30px;
    }

    .insideSection .textInsideSection h4 {
        font-size: 22px;
        margin-top: -22px;
    }

    .content3third.d-flex.position-relative {
        margin-bottom: 5%;
    }
/* 
    .sectionFooter {
        margin-top: 18%;
    } */

}

@media (min-width: 414px) {

    .sectionFooter {
        margin-top: 12%;
    } 
}

@media (min-width: 768px) {

    /* PRIMERA SECCION */

    header .sectionHeader {
        padding: 12%;
    }

    .sectionIcons1 {
        display: flex;
        justify-content: flex-end !important;
    }

    /* SEGUNDA SECCION */

    .secondSectionTitles {
        padding: 19%;
        overflow: hidden;
    }

    .secondSectionTitles {
        padding: 25% 7% 25% 7%;
        text-align: left;
    }

    /* TERCERA SECCION */

    .thirdSectionBoxes .fondoBox {
        margin: 5%;
    }

    .thirdSection .thidSectionTitles .firstTitleThird {
        /* font-size: 45px; */
        text-decoration: underline;
        font-weight: 900;
    }

    .thirdSection .thidSectionTitles {
        left: 12.9%;
    }

    .thirdSection .thidSectionTitles h4 {
        font-size: 22px;
        width: 230px;
    }

    .insideSection .textInsideSection .firsTitleInside {
        font-size: 40px;
    }

    .insideSection .textInsideSection h4 {
        font-size: 30px;
    }

    /* QUINTA SECCION */

    .fithSection img {
        min-height: 250px;
        padding: 2%;
    }

    .fithSection.row.mx-auto {
        margin-top: 20%;
    }

    /* INSIDE SECTION */

    /* .insideSection {
        margin-top: 205%;
        margin-left: -15%;
        overflow: hidden;
    } */

    .thirdSectionBoxes.d-flex.justify-content-center.align-items-center {
        margin: 15% 0 10% 0;
    }

    .content3third.d-flex.position-relative {
        margin-bottom: 0%;
    }

    .sectionFooter {
        margin-top: 20%;
    }

}

@media (min-width: 1024px) {
    /* .insideSection {
        margin-top: 155%;
        margin-left: -15%;
        overflow: hidden;
    } */

    /* .insideSection .textInsideSection {
        left: 27%;
    } */

    .insideSection .textInsideSection h4 {
        font-size: 35px;
    }

    .insideSection {
        margin-top: 5%;
    }

}

@media (min-width: 1280px){

    h4.text-white.p-1 {
        color: black !important;
    }

    .sectionIcons1.d-flex.justify-content-center.align-items-center {
        display: flex;
        justify-content: flex-end !important;
    }

    .sectionHeader .sectionHeaderContent {
        flex-direction: row !important;
        overflow: hidden;
    }

    .sectionHeader .sectionHeaderContent h1 {
        font-size: 60px;
    }

    .sectionHeader h4 {
        font-size: 35px;
    }

    .sectionHeader h4 {
        max-width: 500px;
    }

    .secondSection .secondSectionTitles h4 {
        font-size: 60px;
    }

    .thirdSectionBoxes.d-flex.justify-content-center.align-items-center {
        display: flex;
        flex-direction: row !important;
    }

    .thirdSection .absoluteImg2 {
        top: 8%;
        left: 40%;
    }

    .thirdSection .absoluteImg {
        top: 10%;
        left: 30%;
    }

    .thirdSection .absoluteImg3 {
        top: 8%;
        left: 35%;
    }

    .insideSection .textInsideSection {
        margin-top: 10%;
        /* left: 27%; */
    }

    .insideSection .textInsideSection .firsTitleInside {
        font-size: 60px;
        margin: 10px;
    }

    .insideSection .textInsideSection h4 {
        font-size: 35px;
    }

    .insideSection .textInsideSection {
        top: 30%;
        left: -2%;
    }

    .fithSection img {
        min-height: 350px;
    }

    .fithSection {
        margin-bottom: 0%;
    }

    .sectionFooter {
        margin-top: 15%;
    }

    .thirdSectionBoxes.d-flex.justify-content-center.align-items-center {
        margin: 0% 0 0% 0;
    }

}

/* @media (min-width: 1440px){
    .insideSection .textInsideSection {
        top: 30%;
        left: 30%;
    }
} */

@media (min-width: 1600px){
    .fithSection.row.mx-auto {
        margin-top: 25%;
    }
    .sectionFooter {
        margin-top: 20%;
    }
}

/* @media (min-width: 1920px) {

    .insideSection .textInsideSection {
        margin-top: 13%;
        /* left: 27%; */

    /* .insideSection {
        margin-top: 35%;
        margin-left: -5%;
        overflow: hidden;
        width: 100%;
    } */

@media (min-width: 2560px){
    .sectionFooter {
        margin-top: 25%;
    }
}